.special {
    background-color: #ffcccc;
}
.special-alliance {
    color: red !important;
    font-weight: bold !important;
}

/* Set the primary color for the loading bar */
html {
  --lumo-primary-color: red;
}

/* Set specific styles for the loading bar */
[part="loading-indicator"] {
  background-color: var(--lumo-primary-color);
  height: 4px;
}

@keyframes loading-progress {
  from { transform: translateX(-100%); }
  to { transform: translateX(100%); }
}

[part="loading-indicator"]::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: currentColor;
  animation: loading-progress 1.5s linear infinite;
}

footer, .footer-layout {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f0f0f0;
    color: #333;
    padding: 10px 20px;
    box-shadow: 0 -1px 5px rgba(0,0,0,0.1);
    width: 100%;
    z-index: 1000;
}

.ascii-banner {
    white-space: pre;
    font-family: monospace;
    pointer-events: none;
    user-select: none;
}

